/* red line under invalid input, works fine with w3.css */
input:invalid {
    border-color: red;
}

#submit_button {
    width: 50%;
    transition-property: width;
    transition-duration: .3s;
}

#submit_button:hover {
    width: 100%;
}

/* canvas-aligner and canvas rules are for centering the canvas horizontally */
#canvas-aligner {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}
