/* red line under invalid input, works fine with w3.css */
input:invalid {
    border-color: red;
}

#submit_button {
    width: 50%;
    transition-property: width;
    transition-duration: .3s;
}

#submit_button:hover {
    width: 100%;
}

h2:hover {
    text-decoration: underline;
}

/*
I couldn't figure out how to get some space between the two inputs on medium and
large displays with W3.CSS. This works but I don't know if it's allowed.
You need to set id="inputContainer" on the div with w3-row in the form.
@media (min-width:601px) {
    #inputContainer .w3-half:first-child {
        padding-right: 5px;
    }

    #inputContainer .w3-half:last-child {
        padding-left: 5px;
    }
}
*/
